@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /*review*/
}
section img#moon {
  mix-blend-mode: screen; /*review*/
}
section img#mountains_front {
  z-index: 10;
}
#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap; /*review*/
  font-size: 7.5vw;
  z-index: 9;
}
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
  min-height: 100vh;
}
.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p,
.sec2 p {
  font-size: 1em;
  color: #fff;
}
.sec2 {
  margin: 80px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
}
.sec2 h2 {
  color: #fff;
  width: 400px;
}
/*==================Album==================*/
.card-container-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.card {
  position: relative;
  width: 280px;
  height: 350px;
  background: #2e2e2e;
  transform-style: preserve-3d; /*review*/
  transform: perspective(1000px); /*review*/
  box-shadow: 10px 20px 40px rgba(230, 230, 230, 0.25);
  border-radius: 20px;
  transition: 1s;
}
.card:hover {
  transform: translateX(30%);
}
.card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left; /*review*/
  transform-style: preserve-3d;
  background: #2e2e2e;
  transition: 1s;
  border-radius: 20px;
}
.card:hover .imgBox {
  transform: rotateY(-180deg); /*review*/
}
.card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform-style: preserve-3d;
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 280px;
  height: 100%;
  font-size: 12px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details .content p {
  transition: 0.2s;
}
.card .details .content h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 2em;
}

/*==================Thoughts==================*/
.thoughts-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.thought {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2e2e;
  box-shadow: 10px 20px 40px rgba(230, 230, 230, 0.25);
  border-radius: 20px;
  width: 100%;
  min-height: 400px;
  padding: 15px;
}

/*==================Thoughts==================*/
.animated {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.animated .earth {
  position: relative;
  width: 400px;
  height: 400px;
  background: #0588e4 url('img/earth.png');
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  animation: animate 12s linear infinite;
}
.animated .earth:active {
  transform: scale(5);
}
.animated .earth::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('img/cloud.png');
  background-size: cover;
  animation: animate 18s linear infinite;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.animated .earth img {
  transform: rotate(-0.25turn);
  width: 150px;
  position: absolute;
  z-index: 2;
  transition: 0.5s;
  pointer-events: none;
}
.animated .earth:active img {
  transform: rotate(-0.25turn) scale(0.2);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 719px 0;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #bbbcde;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c0522;
}
